#home{
  .intro-section {
    height: 700px;
    padding-top: 150px;
    text-align: center;
    background: #fff;

    &#intro {
      //background-image: url(/images/asd.jpg);
      background-image: url(/images/vadim-sherbakov-d6ebY-faOO0-unsplash.jpg);
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .darken-bg-text {
          background: rgba(0,0,0,0.55);
      }

      .intro-text {
        padding-top: 10%;
        //padding-bottom: 90px;
        padding-bottom: 70px;
        // New Var
        color: #fdf3f3;

        .intro-lead-in {
          font-size: 2.5em;
          font-family: "Roboto Slab","Palatino Linotype","Book Antiqua",Palatino,serif;
        }

        p {
          padding: 15px;
          font-size: 1.2em;
          font-family: "Roboto Slab","Palatino Linotype","Book Antiqua",Palatino,serif;
        }

        .fas.fa-angle-down {
          font-size: 30px!important;
        }

      }

      .icons{
        font-size: 20px;
          // New Var
          color: #fdf3f3;
          padding: 0 0 25px 0;


        span{
          margin-right: 16.5px;
          text-transform: uppercase;
        }
      }

    }
  }

  #whyUseUs{

    h4{
      font-weight: 600;
    }

    .title{
      color: #333;
      font-size: 24px;
    }

    .boxes{
      text-align: center;
      border: 2px solid #fff;
      margin: 5px 0;
    }

    .non-icon {
      color: #40a0d2;
    }

    .non-icon, .icon-field {
      font-family: "Roboto Slab","Palatino Linotype","Book Antiqua",Palatino,serif;
      font-size: 3em;
      font-weight: 300;
    }

  }

  #about-us{

    .testimonials{

      .testimonial-user {
        margin-right: 23%;
        margin-left: 23%;

        img{
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          max-width: 170px;
          margin: 0 auto
        }

        .avatar-name {
          margin-top: 1.5rem !important;
          font-weight: 700 !important;
          text-align: center;
        }

        .prof {
          text-align: center;
          font-weight: 600;
        }

        .star-text {
          color: #ff9800 !important;
          text-align: center;
        }

      }

    }

  }

}


@media (max-width: 575.98px) {
    #home {
        .intro-section {
            height: 575px;
            padding-top: 0px;
            text-align: center;
            background: #fff;

            &#intro {

                .intro-text {
                    padding-top: 5%;
                    padding-bottom: 20px;
                }

                .icons{

                    display: grid;

                    span{
                        margin: 5px auto;
                        text-transform: uppercase;
                    }
                }
            }
        }

        #whyUseUs {
            .title {
                font-size: 23px;
                font-weight: 600;
            }
        }
    }
}
